body, html {
    font-family: 'Bitter', sans-serif;
    height: 100%;
  }
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(102, 102, 102);
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color:rgb(160, 160, 160);
  -webkit-box-shadow: inset 0 0 6px rgba(90,90,90,0.7);
}
/** Section size
*/
.heads{
  height: 80%;
  /* margin-top: 70px; */
}
.exp{
  height: auto;
}
.projects{
  height: 100%;
}
/** Header first text
*/
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@font-face {
  font-family: 'Thunderstorm';
  src: url('../plugin/font/thunderstorm/Thunderstorm.otf') format("opentype");
}

.tx1{
  font-size: 52pt;
}
.tx2{
  font-size: 32pt;
}
.wave{
  color: rgb(187, 127, 243);
  text-shadow: 0 0 2px rgb(219, 219, 219);
}
.thunder{
  font-family: 'Thunderstorm';
  color: rgb(175, 107, 238);
  text-shadow: 0 0 2px rgb(219, 219, 219);
}
.bitter{
  font-family: 'Bitter', sans-serif;
  color: rgb(175, 107, 238);
  text-shadow: 0 0 2px rgb(219, 219, 219);
}
.arial{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(175, 107, 238);
  text-shadow: 0 0 2px rgb(219, 219, 219);
}

.times{
  font-family: 'Times New Roman', Times, serif;
  color: rgb(175, 107, 238);
  text-shadow: 0 0 2px rgb(219, 219, 219);
}
.space{
  margin-bottom: 125vh;
}

/**
** ---------
** Preloader
** ---------
**/
.preload{
  z-index: 99999999;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("ASET/bg.jpg");
  overflow: hidden;
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.anim {
  /* -webkit-animation-name: preLoad; */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.3s linear;
}

@-webkit-keyframes preLoad {
  from {
    -webkit-transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(100%);
  }
}
.maha{
  width: 100%;
  height: auto;
}
/**
  ** Transition
  **/
.btn-preload {
  margin: 150px auto ;
  padding: 10px;
  position: inherit;
  bottom: 0;
  border-radius: 10px;
}

/**
**
** Bootstrap Modifier
**
**/
.sticky-top { top: 0.5em; }
/** Parralax
*/
.prx {
  background-image: rgb(253,251,247) /*url('../image/wdg.jpg');
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }
.prx2 {
 background-image: rgb(253,251,247) /*url('../image/wdg.jpg');
 /* Full height */
 height: 100%;
 /* Create the parallax scrolling effect */
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
.contact{
  margin-bottom: auto;
}

/* .section1 {
  height: 120vh;
}
.section2 {
  height: 100vh;
}
.section3 {
  height: 90vh;
} */
.btn-topped{
  z-index: 1;
}
.btn-big{
  font-size: 24px;
}
.bg-txt{
  backdrop-filter: blur(10px);
}

.btgr{
  border-radius: 25px 25px 0 0;
  margin-left: -20px;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .prx {
      background-attachment: scroll;
    }
    .exp{
      height: auto;
    }
    .heads{
      margin-top: auto;
    }
    .btn-big{
      font-size: 18px;
    }
    .btgr{
      border-radius: 25px 25px 0 0;
    }
  }
@media only screen and (max-device-width: 900px){
  .heads{
    /* margin-top: 80px; */
  }
  .btn-big{
    font-size: 18px;
  }
  .btgr{
    border-radius: 25px 25px 0 0;
  }
}
@media only screen and (max-device-width: 512px) {
  .prx {
    background-attachment: scroll;
  }
  .exp{
    height: auto;
  }
  .heads{
    font-family: 'Bitter', serif;
    height: 80%;
    /* margin-top: 95px; */
  }
  .btn-big{
    font-size: 12px;
  }
  .btgr{
    border-radius: 25px 25px 0 0;
  }
}

@keyframes slideUp {
  0%,
  50% {
    transform: translateY(100%);
    opacity: 0;
  }
   
  60%,
  100% {
    transform: translateY(0);
    opacity: 1;
  
  }
}